events {}

http {
  upstream auth_service {
    server auth-service:3000;
  }

  upstream storage_service {
    server storage-service:3001;
  }

  upstream hr_service {
    server hr-service:3002;
  }

  server {
    listen 80;

    location /auth {
      proxy_pass http://auth_service/validate;
    }

    location /storage {
      proxy_pass http://storage_service/files;
    }

    location /hr {
      proxy_pass http://hr_service/employees;
    }
  }
}